/* Team Robin Red Breast Design System */

html {
	scroll-behavior: smooth;
	}
body {
     font-family: system-ui;
     max-width: 80ch;
     padding:0 1.5ch;
     line-height: 1.4;
     font-size: 1.2em;
     margin: auto;
}

body#search-prototype {
	border-bottom:2em beige;
}

#api-data {
     border-left: 2em solid pink;
     padding: 1em;
     background-color: lavenderblush;
}

details.solr-data {
	padding-top:1em;
}

.answer-text:before {
  content: open-quote;
}

.answer-text:after {
  content: close-quote;
}

